body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    color: #333;
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    color: #C07A3D;
    font-family: "Times New Roman", Times, serif;
}

.main{
    max-width:700px;
    margin: 0px auto;
    padding:1rem;
    background-color: #fff;
}
.cake{
    margin: 30px auto;
    display: block;
}